<h1>I'm listening</h1>

<div>
 <form method="post" action="/create"> 
   <fieldset>
     <label for="title">What is it about?:</label>
     <input type="text" name="title" id="title">
   </fieldset>
   <fieldset>
     <label for="content">Tell me:</label>
     <textarea rows="12" columns="50" name="content" id="content"></textarea>
   </fieldset>
   <input type="submit">
 </form>
</div>

<a href="/">Wanna go back to index?</a>